.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: blueviolet;
    color: white;
    font-weight: 600;
    border-bottom: solid black 3px;
  }
  button{
    margin-top: 10px;
    background-color: blueviolet;
    border: none;
    color: white;
    font-size: 30px;
    margin-inline: 20px;
  }
  button:hover{
    color: aliceblue;
    -webkit-transform:scale(1.1);transform:scale(1.1);
    
  }
